.label + .label {
  margin-left: 1em;
}

div.well {
	margin-top: 1em;
}
.margin_top2{
	margin-top: 2em;
}
#hash-out {
    word-break: break-all;    
}

span {
    word-break: break-all;
}

span.out {
    padding: .5em;
    font-family: Courier monospace;
}

.job-title {
	font-weight:bold;
	font-size:1.25em;
}

.job-details-description {
	margin-bottom: 3em;
}

.error-msg {
	color:red; 
	font-style:italic;
}

#login-form {
	padding: 1em;
	border: solid 1px gainsboro;
}

.email {
	font-family: monospace;
}
.post {
	position: relative;
	width: 80%;
	max-width: 710px;
	margin: 2em auto;
	padding-bottom: 2em;
	border-bottom: #EBF2F6 1px solid;
	word-wrap: break-word;
}
.user {
	position: relative;
	margin: 2em auto;
	padding-bottom: 2em;
	border-bottom: #EBF2F6 1px solid;
	word-wrap: break-word;
}
.pagination {
	position: relative;
	width: 80%;
	max-width: 710px;
	margin: 4em auto;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #9EABB3;
	text-align: center;
}
.page{
	width: 80%;
	margin-left: 23%;
	position: relative;
	max-width: 710px;
}
.page2{
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
	position: relative;
}
body { padding-top: 70px;
     color: black;
}
.white{
	background-color: white;
	border-bottom: gainsboro 1px;
}
.avatar{
	width:10em;height:10em;border-radius:10em;
	border: 2px solid darkgray;


}
.half-circle{
	width:10em;
	height:5em;
	overflow:hidden;
}
.inner-circle{
	margin-top: -8em;
	width:10em;
	height:10em;
	border-radius:50%;
	background-color:rgba(0,0,0,.3);
}
.div_phone{
	float: left;width: 25em; height:3em;border: solid 1px darkgrey; padding: .5em;border-radius:2em;margin-bottom:.5em;margin-top:.5em;margin-right: 1.5em
}
.input_phone{
	border: solid rgba(0,0,0,0); width: 22em
}
td{
	border-bottom:hidden;
	padding:1em;
	vertical-align:middle;
}
tbody tr{
	cursor: pointer;
}
.table_head {
	border-bottom:hidden;
	border-top:hidden;
	margin-bottom: 1em;
}
